.container {
  max-width: 98%;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  font-size: 15px;
  color: #333;
}

h3,
h4,
h5,
header,
.red-nav p,
button {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  line-height: 24px;
}

h4 {
  font-size: 17px;
  line-height: 21px;
}

h3 a,
h4 a {
  color: #000;
}

h5 {
  color: rgba(3, 3, 3, 0.4);
  text-transform: uppercase;
  font-size: 16px;
}

.bot-logo svg {
  width: 236px;
  height: 36px;
  fill: #f72210;
}

.top-logo svg {
  width: 369px;
  height: 60px;
  fill: #fff;
}

.red-nav {
  background: #f72210;
  padding-top: 1em;
  padding-bottom: 1em;
}

.red-nav p,
.red-nav a {
  color: #fff;
}

.date-p {
    font-weight: 400;
    font-size: 18px;
}

.buttons,
.buttons button,
.subscribe button,
.newsletter button {
  font-size: 18px;
  text-transform: uppercase;
}

.buttons button,
.subscribe button,
.newsletter button {
  background: #fff;
  border: 1px solid #fff;
  margin-left: 1em;
}

.subscribe button,
.newsletter button {
  background-color: #f72210;
  color: #fff;
  padding: 8px 14px 8px 14px;
}

.sec-nav a {
  color: #000;
}

.buttons button a {
  color: #f72210;
}

.sec-nav {
  border-bottom: 1px solid #eee;
  font-size: 19px;
}

.sec-nav ul {
  padding: 0.45em 0;
}

.sec-nav ul li {
  border-right: 1px solid #eee;
  padding: 0 0.55em;
}

.image-badge {
  color: #f72210;
  font-weight: 700;
  position: relative;
  top: -2em;
  background: rgba(255, 255, 255, 0.8);
  padding: 11px;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
}

h3 a:hover,
h4 a:hover {
  color: #000;
  text-decoration: underline #f72210;
}

.sec-nav a:hover {
  text-decoration: none;
  color: #f72210;
}

.sec-nav input {
  width: 140px;
}

.sponsored {
  color: #3581f4;
}

.pad-image {
    margin-right: 1em;
}

.heading-border {
    border-bottom: 1px solid #ddd;
}

article {
    border-top: 1px solid #ddd;
    padding-top: 1em;
}

.author {
    font-size: 14px;
    line-height: 21px;
    color: #555;
    text-transform: uppercase;
    margin-top: 4px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

#opinion article {
    padding-bottom: 1em;
}

.category {
  margin-top: .7em;
  margin-bottom: 1em;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.category a {
  color: #f72210;
}

.cat {
  padding: 0 7px;
  background-color: #f72210;
  color: white;
  margin-right: 7px;
}

#culture h6 {
  font: 20px/22px "Lora",serif;
}

#culture p {
  color: rgba(3, 3, 3, 0.4);
}

h6 a {
  color: #333;
}

.need-padding {
  padding: 15px;
}

#sponsored-insight {
  margin-top: 30px;
}

.see-all {
  display: block;
  text-transform: uppercase;
text-align: center;
background: #f4f5f6;
color: black;
padding: 12px;
margin-top: -24px;
font-family: 'Roboto Condensed', sans-serif;
font-weight: 700;
}

.cat-heading {
  text-transform: uppercase;
  font: bold 19px/19px "Roboto Condensed",sans-serif;
}

.slides-no {
  width: 70px;
height: 52px;
display: block;
position: relative;
top: -52px;
left: 0;
font-weight: bold;
font-size: 20px;
line-height: 58px;
text-indent: 5px;
text-align: center;
background: url(https://g.newsweek.com/themes/newsweek/images/icon-slideshows-nw.png) 0 0/contain no-repeat;
color: #e9212e;
}

.color-red {
  color: #f72210;
}

.prof {
  position: relative;
  top: 10%;
  left: 50%;
  max-width: inherit;
  width: auto;
}

.vs {
  width: 40px;
height: 40px;
background-color: #000;
color: #d6d6d6;
border-radius: 50%;
font: bold 14px/40px "Roboto Condensed",sans-serif;
text-align: center;
margin: 14px auto 18px;
}

.red-border {
  border-top: 4px solid #f92859;
}

.blue-border {
  border-top: 4px solid #1c87fb;
}

.travel-badge {
  background-color: #c2d4d7;
  color: #555;
  font-weight: normal;
  padding: 6px 8px;
  font-size: 13px;
  text-transform: capitalize;
  font-family: "Lora",serif;
}

#social a {
  color: #666;
  margin-left: .4em;
  font-size: 23px;
}

.first-ul a,
.first-ul {
  color: #333;
  font-size: 14px;
}

.front-img {
  position: absolute;
  top: 6%;
  left: 35%;
}

.subscribe {
  background: #f4f5f6;
  height: 323px;
}

.newsletter-bg {
  background: url(https://d.newsweek.com/en/full/1541302/starting5-homepage.png?w=397&h=265&q=90&f=742bce9a6f72dd8f19ba2e7fd5db06e5) no-repeat;
  background-position: center center;
  background-size: cover;
  height: 323px;
}

.red-head {
  color: #f72210;
}

.focus {
  position: relative;
  padding: 3px 10px;
  background-color: #f72210;
  color: white;
  top: -1.5em;
  text-transform: uppercase;
  font-family: "Roboto Condensed",sans-serif;
  font-weight: 700;
}

#tab-nav {
  display: none;
}

@media only screen and (max-width: 991px) {
  .top-logo svg {
    width: 132px;
    height: 20px;
    margin-right: 2em;
  }

  #des-nav,
  .sec-nav {
    display: none;
  }

  #tab-nav {
    display: block;
  }
}

@media only screen and (max-width: 640px) {
  #weather span {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .buttons,
  .buttons button {
    font-size: 14px;
  }

  .buttons button {
    margin-left: 0;
  }

  .top-logo svg {
    margin-right: 0.5em;
  }
}

@media only screen and (max-width: 400px) {
  #weather {
    display: none;
  }
}