.container {
    max-width: 98%;
}

h3 {
    font-size: 24px;
    line-height: 24px;
    font-family: 'Roboto Condensed', sans-serif;
}

h4 {
    font-size: 17px;
    line-height: 21px;
    font-family: 'Roboto Condensed', sans-serif;
}

h3 a,
h4 a {
    color: #000;
}

h3 a:hover,
h4 a:hover {
    color: #000;
    text-decoration: underline #f72210;
}

p {
    font-family: Arial,Helvetica,sans-serif;
    line-height: 20px;
    font-size: 15px;
    color: #333;
}

.bot-logo svg {
    width: 236px;
    height: 36px;
    fill: #f72210;
}